.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 2;
	height: 70px;
	top: 0;
	transition: all 0.7s;
}

.blur {
	background-color: #01111a8d;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(20px);
}

.blur:not(:focus) h1 {
	color: #fff;
	border: 3px solid #fff;
}

.Logo {
	padding-left: 2%;
	cursor: pointer;
	text-decoration: none;
}

.Logo h1 {
	display: flex;
	font-size: 26px;
	color: var(--color);
	align-items: center;
	text-align: center;
	border-radius: 5px;
	height: 50px;
	width: 250px;
	padding-left: 15px;
	border: 2px solid var(--color);
	transition: 0.3s;
}

.Logo h1:hover {
	background-color: var(--color);
	color: #fff;
}

.Logo h1 svg {
	margin-right: 10px;
}

.Logo h1 span {
	color: #fff;
}

.Logo h1 span:hover {
	color: var(--color);
}

.NavBarLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 7%;
	font-weight: 500;
	font-size: 22px;
	list-style-type: none;
}

.NavBarLinks li {
	padding: 2px 20px;
	color: #fff;
}

.NavBarLinks li a {
	position: relative;
	display: flex;
	color: #eee;
	align-items: center;
	justify-content: space-between;
	padding: 2px 7px;
	width: 95%;
	letter-spacing: 0.5px;
	text-decoration: none;
	transition: 0.5s;
}

.NavBarLinks li a svg {
	margin-right: 6px;
}

.NavBarLinks li a:hover {
	color: #ffffff;
}

.NavBarLinks a::after {
	background-color: #ffffff;
	content: "";
	position: absolute;
	height: 3px;
	left: 5px;
	bottom: 0;
	width: 0;
	border-radius: 2px;
	transition: 0.3s;
}

.NavBarLinks a:hover::after {
	width: 95%;
}

.Hamburger {
	display: none;
}

@media (max-width: 800px) {
	.Navbar {
		width: 100%;
	}

	.NavBarLinks {
		font-size: 26px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		inset: 0 0 0 50%;
		gap: 50px;
		background-color: #0c2f69;
		height: 100vh;
		padding-top: max(20%, 120px);
		transform: translateX(100%);
		transition: transform 0.5s ease;
	}

	.NavBarLinks.showNavbar {
		transform: translateX(0);
	}

	.Hamburger {
		display: block;
		z-index: 2;
		padding: 5px;
		padding-right: 7%;
		cursor: pointer;
	}

	.bar {
		display: block;
		background-color: #e7e7e7;
		border-radius: 50px;
		height: 2.5px;
		width: 30px;
		margin: 6px;
		transition: background-color 0.5s ease, transform 0.5s ease;
	}

	.barOne {
		rotate: -225deg;
		position: relative;
		top: 4px;
		transition: 0.5s;
	}

	.barTwo {
		display: none;
	}

	.barThree {
		position: relative;
		bottom: 4px;
		rotate: 225deg;
		transition: 0.5s;
	}
}
